<?xml version="1.0" encoding="UTF-8"?>
<Team>
	<Name>Protos</Name>
	<IconPath>protos.png</IconPath>
	<SoundPath>myTeam.wav</SoundPath>
	<Description>
	    Team Protos (Beugnon Sébastien - Lopez Jimmy)
	</Description>
	<AgentsBrainControllers>
		<WarExplorer>WarExplorerBrainController.class</WarExplorer>
		<WarRocketLauncher>WarRocketLauncherBrainController.class</WarRocketLauncher>
		<WarBase>Nexus.class</WarBase>
		<WarKamikaze>WarKamikazeBrainController.class</WarKamikaze>
		<WarEngineer>WarEngineerBrainController.class</WarEngineer>
		<WarTurret>WarTurretBrainController.class</WarTurret>
	</AgentsBrainControllers>
</Team>